.body {
  font-family: "Mada", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: unset !important;
}

.diferente a {
  color: white !important;
}
.verdezap {
  color: #25d366;
}
.nav-text {
  color: black !important;
  font-weight: 500 !important;
}

.nav-text :hover {
  color: #08AA9C !important;
}

.section-piso {
  background-color: #0f1416;
}

.text-piso {
  color: #5e5d5d;
}

.text-index {
  color: #08AA9C;
}
@media screen and (max-width: 750px) {
  .text-index {
    color: #bebebe;
  }
}

.text-electric {
  color: #14B9AB;
  font-size: 2.8125em;
  display: flex;
}

.txt-val {
  color: #08AA9C;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .text-electric {
    font-size: 30px;
  }
}

.navop {
  background-color: white;
  opacity: 0.75;
  position: relative;
  width: 100%;
}
@media (min-width: 464px) {
  .no-margin {
    margin-bottom: -10ch;
  }
}

.service-box {
  opacity: 0.5;
  background-color: white;
}

.service-box:hover {
  opacity: 1;
}

hr {
  max-width: 50px;
  border-color: #fff;
}

hr.light {
  border-color: #fff;
}
.hr-hist {
  background-color: #08AA9C;
  height: 1px;
  border: 0;
  max-width: 150000px !important;
}

.parallax {
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
}
@media screen and (max-width: 1000px) {
  .parallax {
    background-attachment: scroll;
  }
}
header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 112vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

section#orcamento h2 {
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  color: #004e62;
  margin: 0 0 20px 0;
}

@media (max-width: 768px) {
  section#orcamento h2 {
    font-size: 24px;
  }
}

.orcamento-wrapper {
  margin: 0 auto;
  max-width: 1300px;
}
@media (max-width: 768px) {
  .orcamento-wrapper {
    display: flex;
  }
}
.orcamento-row {
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .orcamento-row {
    display: flex;
    flex-direction: column;
  }
}

.orcamento-row a img {
  width: 200px;
  height: 200px;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 8px 20px 0 rgba(158, 184, 209, 0.43);

  cursor: pointer;
}

@media (max-width: 1200px) {
  .orcamento-row a img {
    width: 150px;
    height: 150px;
  }
}

.services h3 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: #004e62;
}

.services img {
  width: 150px;
  height: 150px;
}

.txt-condo {
  text-align: center;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  padding: 60px 0;
}

.btn {
  padding: 10px 35px;
  margin: 34px auto;
  background: #004e62;
  border-radius: 125px;
  color: #fff;
}

.medium-price {
  font-size: 18px;
}

.arrow {
  color: #08AA9C;
}

.card {
  margin: 0 0 60px 0;
}

.card-block {
  padding: 30px 5px;
}

.card-hover {
  background: #fff;
  box-shadow: 0 8px 20px 0 rgba(158, 184, 209, 0.43);
  border-radius: 5px;
}

.row-card {
  background-color: #fff;
}

.card-img-h {
  height: 200px;
  display: flex;
}

.footer {
  background-color: #161616;
  color: #fff;
}

.jumbotron:hover {
  background: #08AA9C;
  opacity: initial;
}
.animated1 {
  animation-delay: 0.25s;
}

/*contact page forms*/

.alert {
  text-align: center;
  padding: 10px;
  background: #79c879;
  color: #fff;
  margin-bottom: 10px;
  display: none;
  width: 100%;
}

.mob-img {
  border-radius: 50% !important;
  width: 200px;
  height: 200px;
}


.img-work-us {
  height: 55vh;
  width: 100%;
  object-fit: cover;
}